.lbl-toggle {
	clear: none;
	display: block;
	position: relative;
	padding: 4px 24px 4px 48px;
	margin: 0;
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: 600;
	text-transform: capitalize;
	color: #313337;
	cursor: pointer;
	transition: all 0.25s ease-out;
	background: #F4F1EF;
	transition: .5s ease-out;
}
.lbl-toggle::after {
	content: ' \+';
	color: #d77524;
	font-size: 2em;
	font-weight: normal;
	line-height: 0;
	display: block;
	transform-origin: center;
	transition: transform .2s ease-out;
	transform: rotate(90deg);
	position: absolute;
	top: 16px;
	left: 12px;
}
/* asides pages with extra info */
.box-of-stuff  #wrap {
	color: #62676f;
	background: #F4F1EF;
}
.box-of-stuff  #wrap .toggle + .lbl-toggle + .tog-wrap {
	background: #fff;
}
.box-of-stuff  #wrap .toggle + .lbl-toggle {
	padding: 12px 24px 12px 48px;

}
.box-of-stuff  #wrap .toggle + .lbl-toggle:hover {
	color: #fff;
	background: #768293;
}
.box-of-stuff  #wrap .toggle + .lbl-toggle::after  {
	top: 24px;
}
/* initialize counter */
.box-of-stuff  #wrap ol {
	margin-bottom: 4ch;
}
.box-of-stuff  #wrap ol > li {
	padding-left: 46px;
	display: flow-root;
	/*padding-top: 12px;*/
}
.box-of-stuff  #wrap ol > li:before {
	content: counter(li); /* Use the counter as content */
	counter-increment: li;
	font-size: 2em;
	line-height: 1.2;
	font-weight: 800;
	background: #fff;
	display: block;
	margin: 0 0 0 -46px;
	position: relative;
	z-index: 20;
	float: left;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	/*display: none;*/
}
.box-of-stuff  #wrap ol > li strong {
	font-size: 1.26em;
	font-weight: 600;
	line-height: 2;
}
.box-of-stuff  #wrap ol > li blockquote {
	font-size: .9em;
	font-weight: normal;
	line-height: 1.2;
	display: block;
	margin: 1em;
}

.box-of-stuff  #wrap ol > li a:link, .box-of-stuff  #wrap ol > li a:visited {
	font-size: 1.3em;
	line-height: 1.6;
}
.box-of-stuff  #wrap ol > li a:hover, .box-of-stuff  #wrap ol > li a:active, .box-of-stuff  #wrap ol > li a:focus {
	transform: none;
}
/* ------------------------------------------------------
ASIDES, context specific styling —— references */
.box-of-stuff label + .tog-wrap.ref ol li:before {
	display: none;
}
.box-of-stuff label + .tog-wrap.ref, .box-of-stuff .toggle:checked + .lbl-toggle + .tog-wrap.ref {
	background: none;
}
.box-of-stuff label + .tog-wrap.ref ol li {
	width: 100%;
	/*max-width: 320px;*/
	height: 180px;
	padding: 0;
	margin: 2em 0;
}
.box-of-stuff label + .tog-wrap.ref ol li a:link, .box-of-stuff label + .tog-wrap.ref ol li a:visited {
	display: block;
	position: relative;
	/*background-color: #fff;	*/
	padding: 72px 5% 0 0;
	font-size: inherit;
	color: #333;
	text-decoration: none;
}
.box-of-stuff label + .tog-wrap.ref ol li a:hover, .box-of-stuff label + .tog-wrap.ref ol li a:active, .box-of-stuff label + .tog-wrap.ref ol li a:focus {
	color: #ba400f;
	transform: scale(1.1);
}

.box-of-stuff label + .tog-wrap.ref ol li a:link strong {
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.28;
	display: inline-block;
}
.box-of-stuff label + .tog-wrap.ref ol li a blockquote {
	margin: 1em 0;
	font-weight: 300;
	color: #333;
}
.box-of-stuff label + .tog-wrap.ref ol li a blockquote:before {
	display: none;
}
.box-of-stuff label + .tog-wrap.ref ol li a strong:before, .box-of-stuff label + .tog-wrap.ref ol li a strong:after {
	content: ' \< ';
	display: inline-block;
	width: auto;
	margin: 0 .5ch;
	font-family: monospace;
	font-size: 1em;
	font-style: normal;
	line-height: 1.6;
	color: #d77524;
}
.box-of-stuff label + .tog-wrap.ref ol li a strong:after {
	content: ' \> ';
}
/* refs: thn */
.box-of-stuff label + .tog-wrap.ref ol li a:link img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 128px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: opacity .3s ease-in-out 0s;
}

/* ------------------------------------------------------
ASIDES, context specific styling —— tools */
.box-of-stuff label + .tog-wrap ol li:before {
	display: none;
}
.box-of-stuff label + .tog-wrap, .box-of-stuff .toggle:checked + .lbl-toggle + .tog-wrap {
	background: none;
}
.box-of-stuff label + .tog-wrap ol li {
	width: 90%;
	/*max-width: 600px;*/
	height: 256px;
	padding: 0;
	margin: 2em 0;
}
.box-of-stuff label + .tog-wrap ol li a:link, .box-of-stuff label + .tog-wrap ol li a:visited {
	display: block;
	position: relative;
	padding: 72px 5% 0 0;
	font-size: inherit;
	color: #333;
	text-decoration: none;
}
.box-of-stuff label + .tog-wrap ol li a:hover, .box-of-stuff label + .tog-wrap ol li a:active, .box-of-stuff label + .tog-wrap ol li a:focus {
	color: #ba400f;
	transform: scale(1.1);
	z-index: 200;
}

.box-of-stuff label + .tog-wrap ol li a:link strong {
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.28;
	/*display: inline-block;*/
	width: 300px;
}
.box-of-stuff label + .tog-wrap ol li a blockquote {
	margin: 0 0 1em 0;
	padding-right: 2ch;
	font-weight: 300;
	color: #333;
}
.box-of-stuff label + .tog-wrap ol li a blockquote:before {
	display: none;
}
.box-of-stuff label + .tog-wrap ol li a strong:before, .box-of-stuff label + .tog-wrap ol li a strong:after {
	content: ' \< ';
	display: inline-block;
	width: auto;
	margin: 0 .5ch;
	font-family: monospace;
	font-size: 1em;
	font-style: normal;
	line-height: 1.6;
	color: #d77524;
}
.box-of-stuff label + .tog-wrap ol li a strong:after {
	content: ' \> ';
}

/* ------------------------------------------------------
learning materials, custom */

/* ref+read: design */
.box-of-stuff label + .tog-wrap.design ol {
	margin-top: 1em;
}
.box-of-stuff label + .tog-wrap.design  ol li a:link, .box-of-stuff label + .tog-wrap.design  ol li a:visited {
	padding: 0;
}
.box-of-stuff label + .tog-wrap.design  ol li a:hover, .box-of-stuff label + .tog-wrap.design  ol li a:active, .box-of-stuff label + .tog-wrap.design  ol li a:focus {

}

.box-of-stuff label + .tog-wrap ol li a strong:before, .box-of-stuff label + .tog-wrap ol li a strong:after {
	content: '';
	display: none;
}
.box-of-stuff label + .tog-wrap.design ol li a strong:after {
	content: '';
	display: none;
}
.box-of-stuff label + .tog-wrap.design  ol li a:link img {
	display: block;
	width: 60%;
	max-width: 160px;
	height: auto;
	max-height: none;
	margin-bottom: 1em;
	margin-right: 2em;
	position: relative;
	float: left;
	z-index: auto;
	transition: opacity .3s ease-in-out 0s;
}

.box-of-stuff label + .tog-wrap.design ol li a:link strong em {
	display: block;
	font-size: .88em;
	font-style: normal;
	font-weight: 300;

	color: #768293;
}
.box-of-stuff label + .tog-wrap.design ol li a blockquote {
	width: 300px;
	margin: .6em 0 2em 170px;
	font-weight: 300;
	color: #333;
}
.box-of-stuff label + .tog-wrap.design ol li a:link blockquote:before {
	content: ' \201C ';
	display: block;
	float: left;
	font-size: 3em;
	font-style: normal;
	line-height: 1;
	color: #c1c8d3;

}
.box-of-stuff label + .tog-wrap.design ol li a:link blockquote cite {
	display: block;
	font-size: .88em;
	color: #768293;
}
/* ref+read: legal */

.box-of-stuff label + .tog-wrap dl dt {
	font-size: 1.3em;
	font-weight: normal;
}
.box-of-stuff label + .tog-wrap dl dd {

}
.box-of-stuff label + .tog-wrap dl dd a:link {
	line-height: 1.1;
}
/* tutorials: vbasics + on content */
.box-of-stuff label + .tog-wrap.tut ol li a:link {
	padding: 0;
	font-weight: 600;
	font-size: 1.06em;
}


.box-of-stuff label + .tog-wrap.tut ol li a:link img {
	opacity: 1;
	padding: 0;
	position: relative;
	display: block;
	margin: 0 0 16px 0;
}
.box-of-stuff label + .tog-wrap dl dd {

}
.box-of-stuff label + .tog-wrap dl dd a:link {
	line-height: 1.1;
}

ol {
	counter-reset: li;
}

/* accessibility page */
.a11y .footnotes {
	display: block;
	border-top: 1px solid #d77524;
	padding-top: 1em;
	margin-top: 12ch;
	max-width: 40em;
}
/* disable automatic decimal numbers */
.a11y ol {
	display: block;
	
}
.a11y ol li {
	list-style: none;
	display: flow-root;
	margin: 0 0 1em 0;
	padding-left: 3ch;
	width: 100%;
}
/* initialize counter */
.a11y ol > li:before {
	content: counter(li); /* Use the counter as content */
	counter-increment: li;
	font-size: 1.2em;
	line-height: 1.2;
	font-weight: 800;
	background: none;
	display: block;
	margin: 0 0 0 -2ch;
	z-index: 20;
	float: left;
	width: 1ch;
	height: 1ch;
	border-radius: 0;
	text-align: left;
}


@media (min-width: 720px) {
	.box-of-stuff label + .tog-wrap.ref ol {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		align-content: center;
		flex-basis: auto;
		flex-direction: row;
	}
	.box-of-stuff label + .tog-wrap.ref ol li {
		width: 47%;
		min-width: 320px;
		flex: 1;
		margin: 1% 2% 2% 0;
		flex-grow: 1;
		align-self: stretch;
		
	}
	.box-of-stuff label + .tog-wrap.ref ol li a:link {
		height: 100%;
		
	}
	/* learning materials, design links */
	.box-of-stuff label + .tog-wrap.design ol li {
		width: 100%;
		min-width: 100%;
		flex: 1;
		margin: 0 2% 2% 0;
		flex-grow: 1;
		align-self: stretch;
	}
	.box-of-stuff label + .tog-wrap.design  ol li a:link img {
		float: left;
		margin: 0 2em 0 0;
	}
	.box-of-stuff label + .tog-wrap.design  ol li a:link strong {
		margin: 1em 0 0 0;
	}
	
}
@media (min-width: 900px) {
	/* references */
	.box-of-stuff label + .tog-wrap.ref ol {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		align-content: center;
		flex-basis: auto;
		flex-direction: row;
	}
	.box-of-stuff label + .tog-wrap.ref ol li {
		width: 31%;
		min-width: 320px;
		/*flex: 1;*/
		margin: 1% 2% 2% 0;
		flex-grow: 1;
		align-self: stretch;
	}
	
}
@media (min-width: 1200px) {
	/* learning materials, design links */
	.box-of-stuff label + .tog-wrap.design ol li {
		width: 440px;
		min-width:440px;

		/*flex: 1;*/
		margin: 0 2% 2% 0;
		flex-grow: 1;
		align-self: stretch;
	}
	
}	
